Invalid validation of emails starting with special character

Hello,

According to RFC5322 section 3.4.1 (https://www.rfc-editor.org/rfc/rfc5322#section-3.4.1) emails cannot start with special characters. Currently the library validates such email addresses.

```
>>> import email_validator
>>> email='+test@testing.com'
>>> result=email_validator.validate_email(email)
>>> result
<ValidatedEmail +test@testing.com>
>>> email='|test@testing.com'
>>> result=email_validator.validate_email(email)
>>> result
<ValidatedEmail |test@testing.com>
>>> email='*test@testing.com'
>>> result=email_validator.validate_email(email)
>>> result
<ValidatedEmail *test@testing.com>
>>>
```

Can you please modify the library so it validates emails according to RFC standarts?

Kind regards,
Dimitar