Handle RFC5322

Refer to section 3.4.1 of [RFC 5322](https://tools.ietf.org/html/rfc5322) and to the [Wikipedia](https://en.wikipedia.org/wiki/Email_address) page on email addresses.

I added the following test:
```
jking@pulsar:~/python-email-validator$ git diff
diff --git a/tests/test_main.py b/tests/test_main.py
index d0c627a..7347f6a 100644
--- a/tests/test_main.py
+++ b/tests/test_main.py
@@ -7,6 +7,18 @@ from email_validator import EmailSyntaxError, EmailUndeliverableError, \
 @pytest.mark.parametrize(
     'email_input,output',
     [
+        (
+            '" "@example.com',
+            ValidatedEmail(
+                local_part=' ',
+                ascii_local_part=' ',
+                smtputf8=False,
+                ascii_domain='example.com',
+                domain='example.com',
+                email='" "@example.com',
+                ascii_email='" "@example.com',
+            ),
+        ),
         (
             'Abc@example.com',
             ValidatedEmail(
```

The test failed:

```
        else:
            # The local part failed the ASCII check. Now try the extended internationalized requirements.
            m = re.match(DOT_ATOM_TEXT_UTF8 + "\\Z", local)
            if not m:
                # It's not a valid internationalized address either. Report which characters were not valid.
                bad_chars = ', '.join(sorted(set(
                    c for c in local if not re.match(u"[" + (ATEXT if not allow_smtputf8 else ATEXT_UTF8) + u"]", c)
                )))
>               raise EmailSyntaxError("The email address contains invalid characters before the @-sign: %s." % bad_chars)
E               email_validator.EmailSyntaxError: The email address contains invalid characters before the @-sign:  , ".
```

This is a valid email address, even if hard to use.

I like your attention to detail, but.... It's valid but kind of a ridiculous address. Is this an email address that you use or that you know is actually used in the wild?

As per the README, the goal of this project is not to parse all valid email addresses and quoted forms are specifically listed in the Assumptions part of the README as not supported.

I did not see that in the README.  Thanks.