Valid domain with two and more hyphens in a row

A label may contain hyphens, but no two hyphens in a row. A label must not start nor end with a hyphen. (RFC 1035, section 2.3.4)

For example, actual: 
```
validate_email_domain_part('a--b.com')
{'domain': 'a--b.com', 'domain_i18n': 'a--b.com'}
```
Expected EmailSyntaxError
